@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body{
    background-color: rgb(150, 150, 225);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
}

div{
    position: absolute;
    bottom: 20px;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px  10px;
    font-size: 18px;
    border: 2px solid yellow;
}

input{
    height: 30px;
    width: 40px;
    padding: 5px;
    font-size: 18px;
    border: none;
    background-color: darksalmon;
    text-align: center;
}


input:focus{
    outline: none;
}